
<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href="https://github.com/carlos8alb/FULLTIMEFORCE-interview" target="_blank" class="flex items-center">
      <img src="../../../../assets/logo.svg" class="h-8 mr-3" alt="Github Logo">
      <span class="self-center text-md font-semibold whitespace-nowrap dark:text-white">FULLTIMEFORCE-interview Repository</span>
  </a>

  </div>
</nav>
