<section class="w-100 mx-10 mt-24 mb-8 block">
  <h3 class="mb-3 ml-3 text-2xl font-bold text-neutral-700 dark:text-neutral-300">
    Commits
  </h3>
  <hr>
  <app-spiner *ngIf="groupedCommitsSorted.size === 0" class="flex justify-center items-center m-5"></app-spiner>
  <div *ngFor="let object of groupedCommitsSorted | keyvalue: returnZero">
    <div class="my-2 border-l-4 px-2 py-2">
      <h3 class="text-sm font-medium">Commits on {{ object.key | date }}</h3>
      <article *ngFor="let commit of object.value" class="relative mt-3">
        <app-commit-card [commit]="commit"></app-commit-card>
      </article>
    </div>
  </div>
  <app-list-footer></app-list-footer>
</section>
